{"configSettings":[{"appID":"SharedServerToken","serverToken":"SF37VAETYNOOXARPUJXGCIPGEP2KVC7I"},{"appID":"246547474495948","serverToken":"SNQ5Y2UOZXUSELV33RSPRR2FVZX6ZSMH"},{"appID":"2030622154188595","serverToken":"5YW3QDNJHNUNCIMUSOJSVJ5BNJ5YV52F"},{"appID":"60208de8-8f7d-47b5-b0aa-081f987ff028","serverToken":"3MDOP4GMW6K4QT7ZXCXQXTZAX6MBGRXS"},{"appID":"836890118307800","serverToken":"SF37VAETYNOOXARPUJXGCIPGEP2KVC7I"}]}